<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app-20">
      <!-- 值绑定：选的值为我们赋值的内容 -->

      <!-- 当选中时，`picked` 为字符串 "a" -->
      <input type="radio" v-model="picked" value="a" />
      <p>{{picked}}</p>

      <!-- `toggle` 为 true 或 false -->
      <input type="checkbox" v-model="toggle" />
      <p>{{toggle}}</p>

      <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
      <select v-model="selected">
        <option value="aaa">A</option>
        <option value="bbb">B</option>
      </select>
      <p>{{selected}}</p>

      <!-- 复选框 -->
      <input
        type="checkbox"
        v-model="toggle11"
        true-value="yes"
        false-value="no"
      />
      <p>{{toggle11}}</p>

      <!-- 单选按钮 -->
      <input type="radio" v-model="pick" v-bind:value="a" />
      <p>{{pick}}</p>

      <!-- 选择框的选项 -->
      <select v-model="selected11">
        <!-- 内联对象字面量 -->
        <option v-bind:value="{ number: 123333 }">123</option>
      </select>
      <p>{{selected11}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <script type="text/javascript">
      var app20 = new Vue({
        el: "#app-20",
        data: {
          a: "阿卡丽四大皆空",
          picked: "",
          toggle: "",
          selected: "",
          toggle11: "",
          pick: "",
          selected11: "",
        },
      });
    </script>
  </body>
</html>
