* {
    margin: 0;
    padding: 0;
}

/* 去除点 */
li {
    list-style: none;
}

/* 版心 */
.w {
    width: 1200px;
    margin: auto;
}

/* 去除所有按钮修饰，如：下划线 */
a {
    text-decoration: none;
}

/* 顶部头 */
.header {
    height: 42px;
    /* 注意：此处会层叠w里面的margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 200px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
    height: 42px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* search 搜索模块 */
.search {
    float: left;
    width: 411px;
    height: 42px;
    margin-left: 100px;
}

.search input {
    float: left;
    height: 40px;
    width: 330px;
    /* 左右内边距 -30px */
    border: 1px solid skyblue;
    border-right: 0px;

    color: #bfbfbf;
    font-size: 14px;

    padding-left: 15px;
    padding-right: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: skyblue; */
    background: url(images/btn.png);
    /* 按钮button默认有个边框，需要手动去除 */
    /* or border: 0; */
    border-style: none;
}

/* 用户模块 */
.user {
    float: right;
    line-height: 42px;
    margin-right: 20px;
    font-size: 14px;
    color: #666666;
}



/* banner区域 */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

/* 右侧课程表 */
.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #00a4ff;
    margin-top: 50px;
}
