* {
  margin: 0px;
  padding: 0px;
}

body {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  background-image: url(../images/bgimage.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; /* 铺满不变形 */
  /* background-size: 100% 100%;  铺满变形 */
}

/* 版心 */
#app {
  background-color: rebeccapurple;
  width: 800px;
  height: 650px;
  margin: 0 auto;
  margin-top: 100px;
}

/* 搜索区域 */
.search_bar {
  height: 50px;
  background-color: red;
}

.search_bar input {
  display: block;
  width: 200px;
  height: 30px;
  margin: auto; /* 水平居中*/
  margin-top: 5px;
}

/* 中心播放区域 */
.center_con {
  background-color: bisque;
}

/* 歌曲区域 */
.song_warp {
  float: left;
  background-color: aqua;
  width: 350px;
  height: 550px;
  overflow: scroll; /* 超出滚动 */
}

/* 歌曲列表 */
.song_warp ul ol {
  width: 100%;
  height: 40px;
}

/* 播放按钮 */
.song_warp ul ol a,
.song_warp ul ol a img {
  width: 30px;
  height: 30px;
  margin-top: 4.5px;
  margin-left: 5px;
}

/* 歌曲名称 */
.song_warp ul ol p {
  font-size: small;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  vertical-align: middle;
  overflow: hidden;
}

#mv_btn {
  width: 30px;
  height: 30px;
  margin-top: 4.5px;
  margin-right: -5px;
}

/* 列表底部分割线 */
#line {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin-left: 5px;
  margin-bottom: 0;
}

/* 封面 */
.cover {
  /* display: block; */
  float: left;
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}

/* 底部播放 */
.audio_con {
  height: 50px;
  background-color: #f1f3f4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.audio_con audio {
  width: 800px;
  height: 50px;
  background-color: #f1f3f4;
  outline: none; /* 轮廓 */
}

/* Video */
.video_con video {
  position: fixed;
  width: 800px;
  height: 546px;
  left: 50%;
  top: 50%;
  margin-top: -273px;
  transform: translateX(-50%);
  z-index: 990;
}

.video_con .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.8);
}
