 * {
    margin: 0;
    padding: 0;
 }

 html,
 body,
 #mask {
   width: 100%;
   height: 100%;
 }
 
 #mask {
    background-color: #c9c9c9;
    position: relative;
}

#mask .center {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}