* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

/* 去除点 */
li {
    list-style: none;
}

.header {
    background-color: pink;
    height: 42px;
    /*  */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 200px;
    height: 42px;
    background-color: green;
}

.nav {
    float: left;
    margin-left: 60px;
    width: 300px;
    height: 42px;
    background-color: darkblue;
}